
<h2><%= l(:label_invoice_payment_new) %></h2>
<%= labelled_form_for :invoice_payment, @invoice_payment, :url => {:action => 'create', :project_id => @project}, :html => { :multipart => true, :id => 'invoice_payment_form'} do |f|  %> 
  <%= render :partial => 'form', :locals => {:f => f}  %> 
  <%= submit_tag l(:button_save) -%>
<% end -%>

<script>
    $( "#payment_transaction_fee_fee_amount" )
  .change(function () {
    var inputtxt = document.getElementById("payment_transaction_fee_fee_amount");  
    if( inputtxt.value.match(/^-?\d*(\.\d+)?$/))   
     {   
     var netAmount = document.getElementById("payment_net_Amount");
     var invoiceAmount = document.getElementById("invoice_payment_amount"); 
      var feePercentage = document.getElementById("payment_transaction_fee_fee_percentage"); 
        netAmount.value = (invoiceAmount.value - inputtxt.value).toFixed(2);
        feePercentage.value = ((inputtxt.value/invoiceAmount.value)*100).toFixed(2);
        inputtxt.value = (invoiceAmount.value - netAmount.value).toFixed(2);
     }  
     else
     {
     inputtxt.value = null;  
     }     
});
  $( "#payment_net_Amount" ).change(function () {
    var inputtxt = document.getElementById("payment_net_Amount");  
    if( inputtxt.value.match(/^-?\d*(\.\d+)?$/))   
     {   
     var feeAmount = document.getElementById("payment_transaction_fee_fee_amount");
     var invoiceAmount = document.getElementById("invoice_payment_amount"); 
      var feePercentage = document.getElementById("payment_transaction_fee_fee_percentage"); 
        feeAmount.value = (invoiceAmount.value - inputtxt.value).toFixed(2);
        feePercentage.value = ((feeAmount.value/invoiceAmount.value)*100).toFixed(2);
        inputtxt.value = (invoiceAmount.value - feeAmount.value).toFixed(2);
     }  
     else
     {
     inputtxt.value = null;
     }     
});
$( "#payment_transaction_fee_fee_percentage" )
  .change(function () {
    var inputtxt = document.getElementById("payment_transaction_fee_fee_percentage");  
    if( inputtxt.value.match(/^-?\d*(\.\d+)?$/))   
     {   
     var feeAmount = document.getElementById("payment_transaction_fee_fee_amount");
     var invoiceAmount = document.getElementById("invoice_payment_amount"); 
      var netAmount = document.getElementById("payment_net_Amount"); 
      feeAmount.value = ((inputtxt.value/100)*invoiceAmount.value).toFixed(2);
      netAmount.value = (invoiceAmount.value - feeAmount.value).toFixed(2);
      inputtxt.value = ((feeAmount.value/invoiceAmount.value)*100).toFixed(2);
     }  
     else
     {
     inputtxt.value = null;
     }     
});
</script>