<html>
  <body>
    <form method=post action="https://demo-ipg.comtrust.ae/Payment/PaymentPortal.aspx?layout=C0NBESD" id='my_form'>
      <input type="hidden" id="userName" name="TransactionID" value=<%=@payment.transaction_id%> >
    </form>
    <script>
      document.getElementById("my_form").submit()
    </script>
  </body>
</html>
