<form method=post action=<%=@payment.payment_page%> id='my_form'>>
  <input type="hidden" id="userName" name="TransactionID" value=<%=@payment.transaction_id%> >
</form>
<script>
  $("my_form").submit();
</script>
