<%=render partial: 'partial_payment_form'%>

<div class="fancybox">
<h2>Please wait while we redirect you for payment processing...</h2>
<%=form_tag @payment.payment_page, id: 'redirect_form' do%>
  <%=hidden_field_tag 'TransactionID', @payment.transaction_id%>
<%end%>
</div>
<script>
  $('#redirect_form').submit();
  $('.fancybox').fancybox();
</script>
